*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav_bar{
    display: flex;
    justify-content: space-between;
    background-color: #212529;
    padding: 20px 135px;
    font-weight: bold;
}

ul{
    display: flex;
    gap: 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #dee2e6;
}

.parent{
    padding: 20px 100px;
    align-items: center;
    background-color: #dee2e6;
    height: 90vh;
    padding: 200px;
    justify-content: space-between;
}

.card1 , .card{
    border: none;
    width: 25%;
    padding: 20px 12px ;
    border-radius: 12px ;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-right: 10px;
    color: white;
    background-color: #212529;
    text-align: center;
}

.card1{
    margin-left: 115px;
}

.head{
    padding-bottom: 9px;
}

h1{
    text-align: center;
}